* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{

    // BORRAR LO SIGUIENTE CARAJO
    height: 1000rem;
}

// Circulos vectoriales
.cls-1{
    fill:#2b2b2b;
}